@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-yellow: #ff7e1b;
  --primary-white: #fbfcfe;
  --secondary-juan-blue: #36536b;
  --secondary-mirage-blue: #1d2026;
  --transition: all 0.3s ease-in-out;
  --background-color: #f2f2f2;
}
body {
  font-size: 1.5rem;
  line-height: 1.867;
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Display", serif;
  color: var(--secondary-mirage-blue);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 327px;
  margin-inline: auto;
}
.nav-div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 99;
}
.links-container {
  display: none;
}
.sidebar {
  display: grid;
  grid-template-columns: auto auto;
}
.sidebar-invisible {
  height: 100%;
  /* background-color: red; */
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  transition: width 0.2s ease-in-out;
  position: fixed;
}
.sidebar-invisible .mobile-nav {
  opacity: 0;
}
.sidebar-visible {
  background-color: #ffffff;
  width: 250px;
  height: 900px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: width 0.2s ease-in-out;
}
.mobile-menu {
  z-index: 1000;
}
.mobile-nav {
  padding-inline: 2.4rem;
  margin-top: 8rem;
}
.mobile-links {
  color: #1d2026;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.close-icon-container {
  position: fixed;
  z-index: 1000;
}
ul {
  list-style: none;
  display: grid;
  gap: 15px;
}
ul li .links {
  text-decoration: none;
  text-transform: capitalize;
}
.nav-right {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  width: 68px;
  place-items: center;
}
.nav-left {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}
.avatar {
  width: 24px;
  height: 24px;
}
.cart {
  width: 21.82px;
  height: 20px;
}
.product-image {
  margin-top: 20px;
  height: 300px;
  position: relative;
}
.product1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.control {
  width: 40px;
  height: 40px;
  background-color: #d8d8d8;
  position: absolute;
  top: 42%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  place-items: center;
}
.previous {
  left: 16px;
}
.next {
  right: 16px;
}
