.cart-item {
  width: 360px;
  height: 256px;
  margin-inline: auto;
  border-radius: 10px;
  display: grid;
  background-color: rgb(171, 190, 220);
}
.underline {
  background-color: #979797;
  width: 360px;
  height: 0.1px;
  margin-top: 20px;
}
.cart-item h1 {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  margin-left: 24px;
}
.cart-item-details {
  width: 312px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 15px;
  gap: 5px;
}
.cart-image {
  width: 50px;
  border-radius: 5px;
  height: 50px;
  object-fit: cover;
}
.small-product1 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.btn-checkout {
  background-color: #ff7e1b;
  border: none;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 18px 104px;
  width: 312px;
  margin-inline: auto;
  border-radius: 13px;
  color: #1d2026;
  font-size: 16px;
  font-weight: bold;
}
.cart-inner {
  margin-top: -5px;
}
.cart-inner h3 {
  color: #69707d;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1.1px;
  font-weight: regular;
}
.cart-inner h2 {
  color: #69707d;
  font-size: 16px;
  letter-spacing: 1.1px;
  font-weight: regular;
}
.price-span {
  font-weight: bold;
  color: #1d2026;
}
